body {
}

select {
    width: 100%;
    border-radius: 4px;
    height: 34px;
    border: 1px solid #ccc;
}

input {
    width: 100%;
    border-radius: 4px;
    height: 34px;
    border: 1px solid #ccc;
}

tr{
    height:40px;
}

table{
    position:absolute;
    top:70px;
    width:90%;
}

.alert {
    position: absolute;
    top: 10px;
    width: 400px;
    right: 90px;
}