<h1>Genuses</h1>
<div class="alert alert-danger" *ngIf="isErrorMessage">
    {{errorMessage}}
</div>
<div class="alert alert-success" *ngIf="isSuccessMessage">
    {{successMessage}}
</div>

<div>
    <input type="text" [(ngModel)]="name" />
    <button class="btn btn-primary" (click)="add()">Add</button>
</div>

<p *ngIf="!genuses"><em>Loading...</em></p>
<table class='table' *ngIf="genuses">
    <thead>
        <tr>
            <th >Name</th>
            <th ></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let genus of genuses">
            <td>{{ genus.name }}</td>
            <td><button class="btn btn-default" (click)="delete(genus.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

